header{
    text-align: center;
    font-size:50px;
    font-weight: bolder;

}
h2{
    font-weight: 50;
}
h1{
   font-weight: 600;
}
table tr td{
    text-align: center;
   border: 3px solid black;

}
td{
    font-size: 25px;
    font-weight: 100
}
th{
    font-size: 30px;
    text-align: center;

}
table{
margin-left: auto;
margin-right: auto;
border-spacing:1px;

}
th td{
    padding: 10px;
    
}
main{
text-align:center;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
  
}
.item{

}
hr{
    style
}