header{
    text-align: center;
    font-size:50px;
    font-weight: bolder;

}
h2{
    font-weight: 50;
}
h1{
   font-weight: 600;
}
table tr td{
    text-align: center;
   border: 3px solid black;

}
td{
    font-size: 25px;
    font-weight: 100
}
th{
    font-size: 30px;
    text-align: center;

}
table{
margin-left: auto;
margin-right: auto;
border-color: black;


}
th td{
    padding: 15px;
    border-color: black;
}
main{
    
    padding: 5px;
    margin-left: 200px;
    margin-right: 200px;


    text-align:left;
    align-content: center;
  }
.container{
    
    display: grid;
    border-radius: 50px;
  
}
.item{
    display: grid;
    grid-template-columns: 300px; 
    grid-auto-flow: column; 
    margin-left: 150px;
    margin-right: 200px;
    font-size: 50px;
    align-content: center;

}
li{
    text-align: left;
    font-size:25px;
}
