header{
    text-align: center;
    font-size:50px;
    font-weight: bolder;
    border-radius: 20px;
    background-color: beige;
    margin-left: 25%;
    margin-right: 21%;
   

}
h2{
    font-weight: 50;
    line-height: 24px;
}
h1{
   font-weight: 600;
}
table tr td{
    text-align: center;
   border: 3px solid black;

}
td{
    font-size: 25px;
    font-weight: 100
}
th{
    font-size: 30px;
    text-align: center;

}
table{
margin-left: auto;
margin-right: auto;
box-shadow:5px 10px rgb(151, 145, 145);

}
th td{
    padding: 15px;
    border-color: black;
}
main{
    margin: 0;
    padding: 5px;
    width: 1000px;
    margin-left: 25%;
    background-color: beige;
    border-radius: 20px;
    
    padding: 5px;
    margin-left: 200px;
    margin-right: 200px;


    text-align:left;
    align-content: center;
  }
.container{
    background-color: beige;
    display: grid;
    
    font-family: Helvetica, sans-serif;
    text-align: center;

    border-radius: 5px;
   column-gap: 10px;
    transition: .3s;
    justify-content: center;
    align-content: center;
    
  
}
.item{
    display: grid;
    grid-template-columns: 300px; 
    grid-auto-flow: column; 
    margin-left: 150px;
    margin-right: 200px;
    font-size: 50px;
    align-content: center;

}
li{
    text-align: left;
    font-size: 25px;
}
body{
 background-image: linear-gradient(to bottom left, rgb(255, 255, 173), rgb(194, 134, 4));
 


}
hr{
    margin-left: 25%;
}
.div{ display:grid;
    grid-template-columns: 33% 34% 33%;
    padding: 20px;
    background-color: beige;
    border-radius: 25%;

}
.d{
   text-align: center;
   font-size: 25px;

  
}